.instContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 80vw; */
}

.instructionsContainer{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    width:60vw
}

.instructionsContained{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    width: 100%;
    /* margin-left: 0.1vw;
    margin-right: 0.1vw;  */
    align-items: center;
    justify-content: center;
    background-color: chartreuse;
}